@model Domain.ViewModels.FaleConoscoViewModel

@if (ViewBag.outputMessage != null)
{
    <message output-message="ViewBag.outputMessage" />
}

@using (Html.BeginForm("faleconosco", "home", FormMethod.Post))
{
    <div class="mb-3">
        @Html.Label("Nome", "Nome:", new { @class = "form-label" })
        @Html.TextBox("Nome", Model?.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger"})
    </div>
    <div class="mb-3">
        @Html.Label("Email", "E-mail:", new { @class = "form-label" })
        @Html.TextBox("Email", Model?.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.Label("Conteudo", "Conteúdo:", new { @class = "form-label" })
        @Html.TextArea("Conteudo", Model?.Conteudo, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Conteudo, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Enviar" />
}
